.contact-container {
    max-width: 1100px;
    margin: auto;
}

.contact-header h1 {
    font-size: 2.5rem;
}

.contact-info p {
    font-size: 1.1rem;
    margin-bottom: 8px;
}

.social-icon {
    font-size: 1.5rem;
}

.card {
    border-radius: 10px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }
